body{
    margin:0px;
    margin-left: 10vw;
    margin-right:10vw;
    background-image: url("../images/blue_white_patches.png");
    background-size:cover;
    font-family: Arial, Helvetica, sans-serif;
}