body{
    background-image: url("../images/website_background1.svg");
    margin:0px;
    margin-left: 10vw;
    margin-right:10vw;
    background-size:100vw 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: darkblue;
}

a:hover{
    color: rgb(255, 123, 0);
}
